.hero-box-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  height: 300px;
  width: 300px;
  background-color: white;
  justify-content: center;
}

.hero-logo {
  display: block;
  height: 100%;
  width: 100%;
}

.hero-name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
